<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Debug">
  <test name="MobileLogin">
    <classes>
      <class name="com.interf.eyee.script.MobileLogin">
       <methods>
        <include name="MobileLoginTest" />
       </methods>
      </class>
    </classes>
  </test> <!-- ProductDetail -->
</suite> <!-- Debug -->
