<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eyee_API_20170630">
	<test name="MobileLogin">
		<classes>
			<class name="main.java.com.interf.eyee.script.user.MobileLogin" />
		</classes>
	</test> <!-- MobileLogin -->
	<test name="AutoLogin">
		<classes>
			<class name="main.java.com.interf.eyee.script.user.AutoLogin" />
		</classes>
	</test> <!-- AutoLogin -->
	<test name="RegisterV211">
		<classes>
			<class name="main.java.com.interf.eyee.script.user.RegisterV211" />
		</classes>
	</test> <!-- RegisterV211 -->
	<test name="GetBeesCountInfo">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.integralmall.GetBeesCountInfo" />
		</classes>
	</test> <!-- GetBeesCountInfo -->
	<test name="BrandAll">
		<classes>
			<class name="main.java.com.interf.eyee.script.product.BrandAll" />
		</classes>
	</test> <!-- BrandAll -->
	<test name="UpdateEverydayMissionInfo">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.integralmall.UpdateEverydayMissionInfo" />
		</classes>
	</test> <!-- UpdateEverydayMissionInfo -->
	<test name="BindHobbyLabels">
		<classes>
			<class name="main.java.com.interf.eyee.script.user.BindHobbyLabels" />
		</classes>
	</test> <!-- "BindHobbyLabels" -->
	<test name="HobbyLabels">
		<classes>
			<class name="main.java.com.interf.eyee.script.user.HobbyLabels" />
		</classes>
	</test> <!-- HobbyLabels -->
	<test name="GetArticleCategory">
		<classes>
			<class name="main.java.com.interf.eyee.script.article.GetArticleCategory" />
		</classes>
	</test> <!-- GetArticleCategory -->
	<test name="AddUserLogInfo">
		<classes>
			<class name="main.java.com.interf.eyee.script.business.AddUserLogInfo" />
		</classes>
	</test> <!-- AddUserLogInfo -->
	<test name="GetBtcBannerList">
		<classes>
			<class name="main.java.com.interf.eyee.script.home.GetBtcBannerList" />
		</classes>
	</test> <!-- "GetBtcBannerList" -->
	<test name="BaseValue">
		<classes>
			<class name="main.java.com.interf.eyee.script.home.BaseValue" />
		</classes>
	</test> <!-- BaseValue -->
	<test name="CategoryAll">
		<classes>
			<class name="main.java.com.interf.eyee.script.product.CategoryAll" />
		</classes>
	</test> <!-- CategoryAll -->
	<test name="GetEveryDayCheckInInfo">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.integralmall.GetEveryDayCheckInInfo" />
		</classes>
	</test> <!-- GetEveryDayCheckInInfo -->
	<test name="GetEverydayMissionProgressInfo">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.integralmall.GetEverydayMissionProgressInfo" />
		</classes>
	</test> <!-- GetEverydayMissionProgressInfo -->
	<test name="GetLimitSupplyEndInfoList">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.limit.GetLimitSupplyEndInfoList" />
		</classes>
	</test> <!-- GetLimitSupplyEndInfoList -->
	<test name="GetProductInfoListByCategoryId">
		<classes>
			<class
				name="main.java.com.interf.eyee.script.integralmall.GetProductInfoListByCategoryId" />
		</classes>
	</test> <!-- GetProductInfoListByCategoryId -->
	<test name="ListCanAll">
		<classes>
			<class name="main.java.com.interf.eyee.script.coupon.ListCanAll" />
		</classes>
	</test> <!-- ListCanAll -->
	<test name="Newer">
		<classes>
			<class name="main.java.com.interf.eyee.script.home.Newer" />
		</classes>
	</test> <!-- Newer -->
	<test name="NewHome">
		<classes>
			<class name="main.java.com.interf.eyee.script.business.NewHome" />
		</classes>
	</test> <!-- NewHome -->
	<test name="NewProductDetail">
		<classes>
			<class name="main.java.com.interf.eyee.script.product.NewProductDetail" />
		</classes>
	</test> <!-- NewProductDetail -->
	<test name="ActPreList">
		<classes>
			<class name="main.java.com.interf.eyee.script.limit.ActPreList" />
		</classes>
	</test> <!-- ActPreList -->
	<test name="NewSearchV218">
		<classes>
			<class name="main.java.com.interf.eyee.script.product.NewSearchV218" />
		</classes>
	</test> <!-- NewSearchV218 -->
</suite> <!-- Eyee_API_20170630 -->
