<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Debug">
  <test name="UserCouponPage">
    <classes>
      <class name="com.interf.eyee.script.coupon.UserCouponPage">
       <methods>
        <include name="userCouponPageTest" />
       </methods>
      </class>
    </classes>
  </test> <!-- UserCouponPage -->
</suite> <!-- Debug -->